@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }



<div class="container">
<h1>Stylist: @Model["stylist"].GetName()</h1><br>
<h5>@Model["stylist"].GetInformation()</h5><br>

<div class="row">
  <div class="col-md-2">
<form method="post" action='/stylists/@Model["stylist"].GetId()/delete'>
  <button class="btn" type="submit">Delete</button>
</form>
</div>

<div class="col-md-2">
<form method="get" action='/stylists/@Model["stylist"].GetId()/edit'>
    <button class="btn" type="submit">Edit</button>
</form>
</div>
</div>
<br><br>

  <h4>Specialities of this stylist:</h4>
  
    @foreach (var speciality in @Model["allStylistSpecialities"])
    {
      <h5>@speciality.GetName()</h5>;
    }

<br><br>
<h4>Add a speciality to this stylist:</h4><br>

<form action='/stylists/@Model["stylist"].GetId()/specialities/new' method='post'>
  <select id='specialityId' name='specialityId' type='text'>
    <option value="0">Select A Speciality</option>

    @foreach (var speciality in @Model["allSpecialities"])
    {
      if(!@Model["stylist"].GetSpecialities().Contains(speciality))
      {
      <option value='@speciality.GetId()'>@speciality.GetName()</option>
      }
    }
  </select>
  <button class="btn" type='submit'>Add</button>
</form>

<br><br>
<h3><a href='/stylists/@Model["stylist"].GetId()/clients'>List of clients</a></h3><br>
</div>
