@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }



<div class="container">
<h1>Stylist: @Model["stylist"].GetName()</h1><br>
<h5>@Model["stylist"].GetInformation()</h5><br>


@if (@Model["stylistClients"].Count != 0)
{
  <h4>Clients of this stylist:</h4><br>
  
    @foreach (var client in @Model["stylistClients"])
    {
      <h6><strong>Name: </strong>@client.GetName()</h6>
      <h6><strong>Details: </strong>@client.GetDetails()</h6>
      <h6><strong>Appointment </strong>@client.GetAppointment()</h6>
      <br>
    }
  
}
<br>
<h3><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></h3><br>


<h4>Add an existing client to this stylist:</h4>

<form action='/stylists/@Model["stylist"].GetId()/clients/add' method='post'>
    <select id='clientId' name='clientId' type='text'>
      <option value="0">Select A Client</option>

    @foreach (var client in @Model["allClients"])
    {
      if(!@Model["stylist"].GetClients().Contains(client))
      {
      <option value='@client.GetId()'>@client.GetName()</option>
      }
    }

  </select>
  <button class="btn" type='submit'>Add</button>
</form>
</div>

