@using HairSalon.Models;
@using System;
@using System.Collections.Generic;

<h1>Snappy Snips</h1>
<hr />

<h2>Stylist: @Model["stylist"].GetName()</h2><br>
<p>@Model["stylist"].GetInformation()</p><br>

<form method="post" action='/stylists/@Model["stylist"].GetId()/delete'>
  <button type="submit">Delete</button>
</form>

<form method="get" action='/stylists/@Model["stylist"].GetId()/edit'>
    <button type="submit">Edit</button>
</form>




  <h4>Specialities of this stylist:</h4>
  
    @foreach (var specialty in @Model["allStylistSpecialty"])
    {
      @specialty.GetName();
      <br>
    }


<h4>Add a speciality to this stylist:</h4>

<form action='/stylists/@Model["stylist"].GetId()/specialities/new' method='post'>
  <label for='specialityId'>Select a speciality</label>
  <select id='specialityId' name='specialityId' type='text'>
    @foreach (var speciality in @Model["allSpecialities"])
    {
      <option value='@speciality.GetId()'>@speciality.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>






<h3><a href='/stylists/@Model["stylist"].GetId()/clients'>List of clients</a></h3><br>


<p><a href="/">Return to Main Page</a></p>