@using HairSalon.Models;
@using System;
@using System.Collections.Generic;

<h1>Snappy Snips</h1>
<hr />

<h2>Stylist: @Model["stylist"].GetName()</h2><br>
<p>@Model["stylist"].GetInformation()</p><br>

<form method="post" action='/stylists/@Model["stylist"].GetId()/delete'>
  <button type="submit">Delete</button>
</form>

<form method="get" action='/stylists/@Model["stylist"].GetId()/edit'>
    <button type="submit">Edit</button>
</form>




  <h4>Specialities of this stylist:</h4>
  
    @foreach (var specialty in @Model["allStylistSpecialty"])
    {
      @specialty.GetName();
      <br>
    }


<h4>Add an existing client to this stylist:</h4>

<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='post'>
  <label for='clientId'>Select a client</label>
  
  <select id='clientId' name='clientId' type='text'>

    @foreach (var client in @Model["allClients"])
    {
      <option value='@client.GetId()'>@client.GetName()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>



<h3><a href='/clients/new'>Add a new client</a></h3><br>

<h3><a href='/stylists/@Model["stylist"].GetId()/clients'>List of clients</a></h3><br>


<p><a href="/">Return to Main Page</a></p>