@using HairSalon.Models;
@using System;
@using System.Collections.Generic;

<h1>Snappy Snips</h1>
<hr />

<h2>Stylist: @Model["stylist"].GetName()</h2><br>
<p>@Model["stylist"].GetInformation()</p><br>


@if (@Model["stylistClients"].Count != 0)
{
  <h4>Clients of this stylist:</h4>
  
    @foreach (var client in @Model["stylistClients"])
    {
      <p><strong>Name: </strong></p>@client.GetName()<br>
      <p><strong>Details: </strong></p>@client.GetDetails()<br>
      <p><strong>Appointment </strong></p>@client.GetAppointment()<br>
      <br>
    }
  
}

<h3><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></h3><br>


<h4>Add an existing client to this stylist:</h4>

<form action='/stylists/@Model["stylist"].GetId()/clients/add' method='post'>
  <label for='clientId'>Select a client</label>
  
  <select id='clientId' name='clientId' type='text'>

    @foreach (var client in @Model["allClients"])
    {
      <option value='@client.GetId()'>@client.GetName()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>


<h3><a href='/stylists'>Back to stylists</a></h3>