@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }



<div class="container">
  <h1>Speciality: @Model["selectedSpeciality"].GetName()</h1>

<div class="row">
  <div class="col-md-2">
    <form method="post" action='/specialities/@Model["selectedSpeciality"].GetId()/delete'>
      <button class="btn" type="submit">Delete</button>
    </form>
    </div>

  <div class="col-md-2">
    <form method="get" action='/specialities/@Model["selectedSpeciality"].GetId()/edit'>
        <button class="btn" type="submit">Edit</button>
    </form>
    </div>
  </div>  

<div class="row">
  <div class="col-md-6">
    @if (@Model["specialityStylists"].Count != 0)
    {
      <h2>Stylists of this speciality:</h2>
      
        @foreach (var stylist in @Model["specialityStylists"])
        {
          <h5>@stylist.GetName()</h5>
        }
      
    }
    </div>
  </div>

<div class="row">
  <div class="col-md-6">
<h3>Add a stylist:</h3><br>

<form action='/specialities/@Model["selectedSpeciality"].GetId()/stylists/new' method='post'>
  <select id='stylistId' name='stylistId' type='text'>
    <option value="0">Select A Stylist</option>

    @foreach (var stylist in @Model["allStylists"])
    {
      @if(!@Model["selectedSpeciality"].GetStylists().Contains(stylist))
        {
        
          <option value='@stylist.GetId()'>@stylist.GetName()</option>
        }
    }

  </select>
  <button class="btn" type='submit'>Add</button>
</form>
</div>
</div>

<h3><a href='/stylists/new'>Add a new stylist</a></h3><br>
</div>