@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }


<h2>Speciality: @Model["selectedSpeciality"].GetName()</h2>

<form method="post" action='/specialities/@Model["selectedSpeciality"].GetId()/delete'>
  <button type="submit">Delete</button>
</form>

<form method="get" action='/specialities/@Model["selectedSpeciality"].GetId()/edit'>
    <button type="submit">Edit</button>
</form>
<hr />

@if (@Model["specialityStylists"].Count != 0)
{
  <h4>Here are all the stylists of this speciality:</h4>
  
    @foreach (var stylist in @Model["specialityStylists"])
    {
      @stylist.GetName()<br>
    }
  
}

<h4>Add a stylist to this speciality:</h4><br>

<form action='/specialities/@Model["selectedSpeciality"].GetId()/stylists/new' method='post'>
  <select id='stylistId' name='stylistId' type='text'>
    <option value="0">Select A Stylist</option>

    @foreach (var stylist in @Model["allStylists"])
    {
      @if(!@Model["selectedSpeciality"].GetStylists().Contains(stylist))
        {
        
          <option value='@stylist.GetId()'>@stylist.GetName()</option>
        }
    }

  </select>
  <button type='submit'>Add</button>
</form>


<h3><a href='/stylists/new'>Add a new stylist</a></h3><br>




<p><a href="/">Return to Main Page</a></p>