@using HairSalon.Models;
@using System;
@using System.Collections.Generic;
@{ Layout = "_Layout"; }



<div class="container">
  
  
<h1>Client: @Model["selectedClient"].GetName()</h1>
<div class="row">
<div class="col-md-2">
<form method="post" action='/clients/@Model["selectedClient"].GetId()/delete'>
  <button class="btn" type="submit">Delete</button>
</form>
</div>

<div class="col-md-2">
<form method="get" action='/clients/@Model["selectedClient"].GetId()/edit'>
    <button class="btn" type="submit">Edit</button>
</form>
</div>
</div>
<br>

@if (@Model["clientStylists"].Count != 0)
{
  <h4>Stylists of this client:</h4>

 
    @foreach (Stylist stylist in @Model["clientStylists"])
    { 

      <h5>@stylist.GetName()</h5>
      
    }
}

<br><br>
<h4>Add a stylist to this client:</h4>

<form action='/clients/@Model["selectedClient"].GetId()/stylists/new' method='post'>
  <select id='stylistId' name='stylistId' type='text'>
    <option value="0">Select A Stylist</option>
    @foreach (var stylist in @Model["allStylists"])
    {
       @if(!@Model["selectedClient"].GetStylists().Contains(stylist))
        {
        
          <option value='@stylist.GetId()'>@stylist.GetName()</option>
        }
    }
  </select>
  <button class="btn" type='submit'>Add</button>
</form>
</div>
